:root {
  // Colors
  --light-100: #fff;
  --light-200: #f3f3f3;

  --grey-200: #e8e6e6;
  --grey-300: #ddd;
  --grey-400: #868b87;
  --grey-500: #898989;
  --grey-800: #363636;

  --orange-500: #f47824;

  --red--500: #e01212;

  // Font sizes
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-default: 1.6rem;
  --fs-md: 1.8rem;
  --fs-lg: 2.2rem;
  --fs-xl: 2.8rem;
  --fs-xxl: 3.6rem;

  // Spacing
  --space-xs: 0.4rem;
  --space-sm: 0.8rem;
  --space-md: 1.2rem;
  --space-lg: 1.6rem;
  --space-xl: 2rem;
  --space-xxl: 3.6rem;
}
