@import 'styles/mixins';

.button {
  border: 0;
  background: none;
  width: 100%;
  cursor: pointer;
  text-align: left;
  font-size: var(--fs-default);
  padding: var(--space-sm) 0;
  position: relative;

  @include sm-up() {
    position: absolute;
    height: 1.4rem;
    width: 1.6rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.arrow {
  border: 0.5rem solid transparent;
  display: block;
  height: 0;
  width: 0;
  left: 100%;
  transform: translate3d(-100%, -50%, 0);
  position: absolute;

  @include sm-up() {
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.up {
  border-bottom: 0.7rem solid var(--grey-300);
  margin-top: -0.7rem;
  top: 50%;
}

.down {
  border-top: 0.7rem solid var(--grey-300);
  margin-top: 0.7rem;
  top: 50%;
}

.upActive {
  border-bottom-color: var(--grey-500);
}

.downActive {
  border-top-color: var(--grey-500);
}
